In [ ]:
/* 1.Count the number of Salesperson whose name begins with ‘a’/’A’: */

SELECT COUNT(*) AS num_salespeople
FROM SalesPeople
WHERE Sname LIKE 'A%' OR Sname LIKE 'a%';

/* 2.Display all the Salesperson whose all orders worth is more than Rs. 2000: */

SELECT S.Sname
FROM SalesPeople S
INNER JOIN Orders O ON S.Snum = O.Snum
GROUP BY S.Sname
HAVING SUM(O.Amt) > 2000;

/*3.Count the number of Salesperson belonging to Newyork: */

SELECT COUNT(*) AS num_salespeople
FROM SalesPeople
WHERE City = 'Newyork';

/* 4.Display the number of Salespeople belonging to London and belonging to Paris: */

SELECT City, COUNT(*) AS num_salespeople
FROM SalesPeople
WHERE City IN ('London', 'Paris')
GROUP BY City;

/* 5.Display the number of orders taken by each Salesperson and their date of orders: */

SELECT S.Sname, O.Odate, COUNT(*) AS num_orders
FROM SalesPeople S
INNER JOIN Orders O ON S.Snum = O.Snum
GROUP BY S.Sname, O.Odate;